<form id="testForm" onsubmit="javascript:return false;">
  <div class="form-group">
    <label>HOST:</label>
    <input class="form-control" type="text" name="host" value="http://localhost:8085"/>
  </div>
  <div class="form-group">
    <label>API:</label>
    <input class="form-control" type="text" name="api" value="/test"/>
  </div>
  <div class="form-group">
    <label>METHOD:</label>
    <select class="form-control" name="method">
      <option value="get">GET</option>
      <option value="post">POST</option>
      <option value="put">PUT</option>
      <option value="delete">DELETE</option>
    </select>
  </div>
  <div class="form-group">
    <label>PARAMETER:</label>
    <textarea class="form-control" name="parameter"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary submit" value="Request"/>
  </div>
</form>
<div id="result" style="display:none">
  <div class="form-group">
    <label>CODE:</label>
    <div class="highlight">
      <pre id="code">

      </pre>
    </div>
  </div>
  <div class="form-group">
    <label>MSG:</label>
    <div class="highlight">
      <pre id="msg">

      </pre>
    </div>
  </div>
  <div class="form-group">
    <label>BODY:</label>
    <div class="highlight">
      <pre id="body">

      </pre>
    </div>
  </div>
</div>
